*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    min-height: 10vh;
    max-width: 100vw;
    align-items: center;
    padding-left: 5vw;
    font-size: 60px;
    font-weight: bold;
}

.buttondiv{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 230, 238);
}

#addbookbutton,#submitform{
    border-style: none;
    height: 50px;
    min-width: 160px;
    font-size: 26px;
    background-color: rgb(200, 200, 253);
    border-radius: 20px;
    transform: scale(1);
    transition-duration: .2s;
}

#addbookbutton:hover,#submitform:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform .2s;
    border: 2px solid rgb(153, 153, 238);
}

.maindiv{
    min-height: 70vh;
    background-color: rgb(222, 230, 238);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: minmax(300px, 320px);
    gap: 30px;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.footer{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 230, 238);
}

.card{
    border: 3px solid rgb(192, 192, 192);
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.formdiv{
    border: none;
    background-color: rgb(218, 230, 255);
    border-radius: 8px;
    padding: 20px;
    font-size: 30px;
    position: absolute;
    width: 350px;
    display: none;
    top: 20vh;
    left: calc(50vw - 182px);
}

input[type=text],input[type=number]{
    border-style: none;
    background-color: white;
    min-height: 35px;
    min-width: 260px;
    border-radius: 6px;
    font-size: 22px;
    padding-left: 8px;
}

label{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

input#isread{
    width: 20px;
    height: 20px;
}

@keyframes fadein {
    from {display: none; opacity:0}
    to {opacity: 1;}
}

.displayblock{
    animation: fadein 250ms;
    display: block;
    z-index: 1;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(100, 100, 100, .7);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.active{
    animation: fadein 250ms;
    display: block;
}

.cardactive{
    animation: fadein 400ms;
}

.greenbutton{
    background-color: rgb(141, 235, 141);
}

.redbutton{
    background-color: rgb(247, 149, 149);
}

.buttonremove{
    border-style: none;
    height: 50px;
    min-width: 160px;
    font-size: 26px;
    border-radius: 20px;
}

.buttonread{
    border-style: none;
    height: 50px;
    min-width: 160px;
    font-size: 26px;
    border-radius: 20px;
}

.buttonread:hover,.buttonremove:hover,.greenbutton:hover,.redbutton:hover{
    cursor: pointer;
    filter: brightness(90%);
}